name: my-first-pipeline

# Define where the pipeline should run
on: # on is trhe trigger
  push: # run pipeline when someone pushes code
    branches: # pipeline only run on these branches
      - main
      - develop
      - staging
  pull_request:
    branches:
      - main
      - develop
      - staging
  schedule:
    - cron: '29 23 * * 6'
env:
  APP_NAME: "myapp"
  REGION: "us-east-1"


jobs: 
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show files in repo
        run: ls -R

      - name: Check for response on build
        run: echo "Building the app - checking..."

      - name: Building Docker fake Image
        run: echo "Running tests... "
      - name: Build Docker image
        run: docker build -t $APP_NAME .

      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y curl
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin

      - name: Scan Docker image with Trivy
        run: trivy image --severity CRITICAL --exit-code 0 --no-progress $APP_NAME

  security-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Checkov (Terraform/IaC scanner)
        run: |
          pip install checkov

      - name: Run Checkov on repo
        run: |
          checkov -d . || echo "Checkov finished with findings"

      - name: Run Gitleaks secret scan
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --no-banner --redact
        continue-on-error: true

  codeql-analysis:
    name: CodeQL Analysis
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'python' ]   # your repo is Python-based

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}

      # For Python this usually does nothing heavy, but it's fine to keep
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
  tfsec:
    name: Run tfsec sarif report
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Run tfsec
        uses: aquasecurity/tfsec-sarif-action@21ded20e8ca120cd9d3d6ab04ef746477542a608
        with:
          sarif_file: tfsec.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: tfsec.sarif